POSTGRES_DB=test-assessment # same as DATABASE_NAME in ./apps/cms.env
POSTGRES_USER=test-assessment # same as DATABASE_USERNAME in ./apps/cms.env
POSTGRES_PASSWORD=test-assessment # same as DATABASE_PASSWORD in ./apps/cms.env