
.radio-input-circle {
  opacity: 0;
  background: var(--color-primary-clicked);
}

.radio-input-circle-2 {
  opacity: 0;
  background: var(--color-success-border);
}

.radio-input:checked ~ .radio-input-temp {
  border: 1px solid var(--color-primary-clicked);
}

.radio-input:checked ~ .radio-input-temp-2 {
  border: 1px solid var(--color-success-border);
}


.radio-input:checked ~ .radio-input-temp .radio-input-circle {
  opacity: 1;
}

.radio-input:checked ~ .radio-input-temp-2 .radio-input-circle-2 {
  opacity: 1;
}

.checkbox-input-term {
  background: var(--color-neutral-white);
}

.checkbox-input:checked ~ .checkbox-input-term {
  background: var(--color-success-border);
  border-color: var(--color-success-border);
}

.checkbox-input-icon {
  opacity: 0;
}

.checkbox-input:checked ~ .checkbox-input-term  .checkbox-input-icon {
  opacity: 1;
}