HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
JWT_SECRET=tobemodified

DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=test-assessment
DATABASE_USERNAME=test-assessment
DATABASE_PASSWORD=test-assessment
DATABASE_SSL=false