
.radio-input-circle {
  opacity: 0;
  background: var(--color-success-base);
}

.radio-input:checked ~ .radio-input-temp {
  border: 1px solid var(--color-success-base);
}

.radio-input:checked ~ .radio-input-temp .radio-input-circle {
  opacity: 1;
}